<!-- <div class="container">
    <div class="row m-1">
        <div class="col">
            <input type="checkbox" [(ngModel)]="working">
            <label for=""> Are you working</label>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-6">
            <input type="radio" value="male" [(ngModel)]="gender">
            <label for="">Male</label>

        </div>
        <div class="col-6">
            <input type="radio" value="female" [(ngModel)]="gender">
            <label for="">female</label>
        </div>
    </div>
    <hr> Working:{{working}} <br> Gender:{{gender}}
</div> -->

<div class="container">
    <div class="row">
        <div class="col">
            <label for="">Provide working details</label>
            <div>
                <input type="checkbox" value="job">
                <label for="">Working</label>
                <br>
                <input type="checkbox" value="course">
                <label for="">Studying</label>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h4>Provide Job Details</h4>
    <div class="row">
        <div class="col-3">
            <label for="">Company Name</label>
            <input type="text" class="form-control">
            <br>
            <label> Designation</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <br>
    <h4>Provide Course Details</h4>
    <div class="row">
        <div class="col-3">
            <label for="">College Name</label>
            <input type="text" class="form-control">
            <br>
            <label> Course</label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>