<!-- <div class="container">
    <div class="row">
        <div class="col-4">
            <label for="">Year of Joining:</label>
            <select class="form-control" [(ngModel)]="yearJoin">]
    <option value="" >Choose the Year... </option> 
    <option >2015</option> 
    <option >2016</option>
     <option >2017</option>
     <option >2018</option>
     <option >2019</option>
  </select>
        </div>
        <div class="col-4">
            <label for="">Year of Leaving:</label>
            <select class="form-control" [(ngModel)]="yearLeave">]
  <option value="" >Choose the Year... </option> 
  <option >2015</option> 
  <option >2016</option>
   <option >2017</option>
   <option >2018</option>
   <option >2019</option>
</select>
        </div>
    </div>
    <hr> year of Joining : {{yearJoin}}
    <br> year of leaving : {{yearLeave}}
    <br> Number of Years : {{yearNum()}}
</div> -->
<!-- <div class="container">

    <label for="">Course:</label>
    <select class="form-control" [(ngModel)]="course">
      <option value="" >Choose the course...</option>
  <option *ngFor="let c of courses" >{{c}}</option>
</select>
    <hr> Course selected:{{course}}

</div> -->

<!-- <div class="container">
    <h4>Configure the Dropdown</h4>
    <div class="row">
        <div class="col-5">
            <label for="">Starting year:</label>
            <input type="number" class="form-control" [(ngModel)]="startingYear">
            <label>Number of Year</label>
            <input type="number" class="form-control" [(ngModel)]="numberOfYear">
            <br>
            <button class="btn btn-primary" (click)="configure()">Configure</button>
            <br>
            <br>
            <div>
                <select class="form-control" [(ngModel)]="year">
                <option value="" >Choose the course...</option>
            <option *ngFor="let y of years" >{{y}}</option>
          </select>
            </div>
            <hr> year of Joining:{{year}}
        </div>

    </div>
</div> -->